@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0d0d0d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Headings and logo */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 9999;
}

.content {
    padding-top: 100px;
}

h1,
h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #f00;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 5%;
}


/* navigation links */

#menu {
    font-size: 150%;
    text-transform: uppercase;
    margin-right: 10%;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-left: 40px;
}

#menu a {
    text-decoration: none;
    color: #f00;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#menu a:hover {
    color: #0d0d0d;
}

.active {
    border-bottom: 1px solid #0d0d0d;
    /* why is the not working??? */
    color: #0d0d0d;
}

/* gallery */

#photos {
    clear: both;
    line-height: 3;
    column-count: 5;
    column-gap: 4;
    margin-left: 10%;
    margin-right: 10%;
}

#photos>img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#photos>img:hover {
    opacity: 50%;
}

/* footer */

footer {
    margin-top: auto;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #0d0d0d;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 50px;
    color: white;
}

/* video carousel */

.video-carousel {
    clear: both;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.side-videos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.side-video {
    opacity: 0.5;
}

.side-video:hover {
    opacity: 1;
}

.side-video img {
    width: 120px;
    height: auto;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #photos {
        column-count: 4;
    }

}

/* For larger to medium screens size from 1050px wide and down */

@media screen and (max-width: 1050px) {

    #menu {
        clear: left;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 110%;
    }

    #photos {
        column-count: 3;
    }

}

/* For larger to medium screens size from 650px wide and down */

@media screen and (max-width: 650px) {

    #menu {
        clear: left;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 15px;
        font-size: 90%;
    }

    #photos {
        column-count: 2;
    }

}