@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0d0d0d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




/* HEADER AND LOGO */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 9999;
}

.content {
    padding-top: 100px;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #f00;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 5%;
}





/* NAVIGATION LINKS */

#menu {
    font-size: 150%;
    text-transform: uppercase;
    margin-right: 10%;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-left: 40px;
}

#menu a {
    text-decoration: none;
    color: #f00;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#menu a:hover {
    color: #0d0d0d;
}

.active {
    border-bottom: 1px solid #0d0d0d;
    /* why is the color not working??? */
    color: #0d0d0d;
}





/* GALLERY */

#photos {
    clear: both;
    column-count: 5;
    line-height: 3;
    column-gap: 4;
    margin-left: 10%;
    margin-right: 10%;
}

#photos>img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#photos>img:hover {
    opacity: 50%;
}






/* FOOTER */

footer {
    margin-top: auto;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #0d0d0d;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 50px;
    color: white;
}






/* VIDEO CAROUSEL */

.video-carousel {
    clear: both;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.side-videos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.side-video {
    opacity: 0.5;
}

.side-video:hover {
    opacity: 1;
}

.side-video img {
    width: 120px;
    height: auto;
}





/* ABOUT ME */

.about-area {
    /* background-color: green; */
    display: grid;
    place-content: center;
}

.about-container {
    /* background-color: red; */
    padding: 40px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.about-image {
    width: 600px;
    grid-area: 1 /1;
    margin-right: 600px;
}

.about-image img {
    width: 400px;
}

.about-quote {
    width: 550px;
    grid-area: 1 / 1;
    margin-left: 150px;
    margin-bottom: 200px;
    font-size: 150%;
    font-weight: 600;
    text-align: right;
}

.about-description {
    background-color: white;
    width: 600px;
    grid-area: 1 / 1;
    padding: 20px 40px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    position: relative;
    top: 250px;
}

.about-description p {
    margin-bottom: 10px;
    line-height: 25px;
}



/* CONTACT FORM */

.form-section {
    clear: both;
    background-size: cover;
    background-position: center;
    height: 900px;
    padding-top: 5%;
}

.signup-form {
    margin: 150px 10% 0 0;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
}

.signup-form>h1 {
    color: #0d0d0d;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.text-input {
    background: transparent;
    color: #525252;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #949494;
    border-radius: 2px;
}

.textarea {
    background: transparent;
    color: #525252;
    width: 100%;
    margin: 5px 0 20px;
    border: 1px solid #949494;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f00;
}

.join-button {
    margin-top: 5px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f00;
    color: #fafafa;
    display: block;
    border: 1px solid #f00;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f00;
    border: 1px solid #f00;
}




/* MEDIA QUERIES */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #photos {
        column-count: 4;
    }

}

/* For larger to medium screens size from 1050px wide and down */

@media screen and (max-width: 1050px) {

    #menu {
        clear: left;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 110%;
    }

    #photos {
        column-count: 3;
    }

}

/* For larger to medium screens size from 650px wide and down */

@media screen and (max-width: 650px) {

    #menu {
        clear: left;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 15px;
        font-size: 90%;
    }

    #photos {
        column-count: 2;
    }

}