* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #0d0d0d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding-top: 100px;
}


/* ------------ HEADER AND LOGO ------------ */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 9999;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #f00;
}

#logo {
    float: left;
    font-size: 3rem;
    margin-left: 5%;
}


/* ------------ NAVIGATION LINKS ------------ */


#menu {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 10%;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-left: 40px;
}

#menu a {
    text-decoration: none;
    color: #f00;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#menu a:hover {
    color: #0d0d0d;
}

#menu a.active {
    border-bottom: 1px solid #0d0d0d;
    color: #0d0d0d;
}





/* ------------ IMAGE GALLERY ------------ */

.photos {
    clear: both;
    column-count: 5;
    line-height: 2;
    column-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.photos>img {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

.photos>img:hover {
    opacity: 0.5;
}






/* ------------ FOOTER ------------ */

footer {
    margin-top: auto;
}

.footer-content {
    text-align: center;
    background-color: #0d0d0d;
    color: #fafafa;
}

.footer-content p {
    padding-bottom: 20px;
    font-size: 1rem;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    padding: 20px;
    color: #fafafa;
}






/* ------------ VIDEO CAROUSEL ------------ */

.video-carousel {
    clear: both;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    /* padding-top: 5%; */
    padding: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.side-videos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.side-video {
    opacity: 0.5;
    padding: 2px;
}

.side-video:hover {
    opacity: 1;
}

.side-video img {
    width: 100%;
    height: auto;
}

.video-description {
    padding: 10px 0 30px 0;
}

.video-description p {
    padding-top: 10px;
}




/* ------------ ABOUT ME ------------ */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3% 10%;
}

.about-image {
    flex: 0 0 30%;
    position: relative;
    left: 4rem;
}

.about-image img {
    width: 240px;
}

.about-quote {
    flex: 0 0 60%;
    z-index: 999;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
    margin-right: 10%;
    max-width: 500px;
    right: 15rem;
    margin-bottom: 20px;
}

.about-description {
    flex-basis: 100%;
    padding: 10px;
    background-color: #fafafa;
    padding: 20px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    bottom: 6rem;
    left: 6rem;
    margin: 0 30% 0% 20%;
    max-width: 700px;
}


/* ------------ CONTACT FORM ------------ */

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding-top: 5%; */
    flex-direction: row;
    align-content: space-around;
    padding: 10px;
}

.form-section {
    max-width: 800px;
    display: flex;
    margin-left: auto;
}

.signup-form {
    display: inline;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
}

.signup-form>h1 {
    color: #0d0d0d;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.text-input {
    background: transparent;
    color: #525252;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #949494;
    border-radius: 2px;
}

.textarea {
    background: transparent;
    color: #525252;
    width: 100%;
    margin: 5px 0 20px;
    border: 1px solid #949494;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f00;
}

.textarea:hover {
    border-color: #f00;
}

.join-button {
    margin-top: 5px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 1rem;
    background-color: #f00;
    color: #fafafa;
    display: block;
    border: 1px solid #f00;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f00;
    border: 1px solid #f00;
}

/* Google map */

.google-map {
    margin-right: auto;
    margin-left: 50px;
    /* display: flex; */
    /* width: calc(100% - 20px);
    flex-direction: column; */
    
}

.google-map iframe {
    min-height: 606px;
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

/* ------------ MEDIA QUERIES ------------ */

/* For larger to medium screens size from 1300px wide and down */

@media screen and (max-width: 1300px) {
    .photos {
        column-count: 4;
    }

}


/* For larger to medium screens size from 1050px wide and down */

@media screen and (max-width: 1050px) {

    header {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        /* background-color: blue */
    }

    #logo {
        height: 50px;
        line-height: normal;
        margin: 0;
    }
    
    
    #menu {
        margin-right: 0;
        line-height: 50px;
        font-size: 1.2rem;    
    }

    .photos {
        column-count: 3;
        margin: 3% 5%;
    }

    .content {
        padding-top: 80px;
    }

    .about-section {
        flex-direction: column;        
    }
    .google-map {
        margin: 40px 0;
    }

    .google-map iframe {
        width: 100%;
    }

    .about-container {
        /* align-items: center; */
        /* text-align: center; */
        flex-direction: column;
        margin: 3% 10%;
    }

    .about-image {
        flex: 0 0 50%;
        /* flex-basis: 100%; */
        /* background-color: #f00; */
        margin: 0;
        left: 0;
    }

    .about-quote {  
        flex: 0 0 50%;  
        /* flex-basis: 100%; */
        /* background-color: rgb(21, 18, 207); */
        font-size: 1.2rem;
        text-align: center;
        right: 0;
        margin: 0;
    }

    .about-description {
        bottom: 0rem;
        margin: 10px 0 30px 0; 
        left: 0;

    }
    
}

/* For larger to medium screens size from 650px wide and down */

@media screen and (max-width: 650px) {

    .photos {
        column-count: 2;
        margin: 2%;
    } 

    .content {
        padding-top: 90px;
    }

}

/* For larger to medium screens size from 500px wide and down */

@media screen and (max-width: 500px) {

    #logo {
        font-size: 2.5rem;
        height: 40px;
        line-height: normal;
        margin: 0;
    }

    #menu {
        font-size: 1rem;
    }

    #menu li {
        margin-left: 15px;
    }

    .content {
        padding-top: 80px;
    }

    .video-description {
        font-size: 0.8rem;
    }

    .about-section {
        flex-direction: column;  
        margin: 0 5%      
    }
}