@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0d0d0d;
}

/* Headings and logo */

h1,
h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #f00;
}

#logo {
    float: left;
    font-size: 300%;
}


/* navigation links */

#menu {
    font-size: 150%;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #f00;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#menu a:hover {
    color: #0d0d0d;
}

.active {
    border-bottom: 1px solid #0d0d0d;
    /* why is the not working??? */
    color: #0d0d0d;
}