@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0d0d0d;
}

/* Headings and logo */

h1,
h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #f00;
}

#logo {
    float: left;
    font-size: 300%;
}


/* navigation links */

#menu {
    font-size: 150%;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #f00;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#menu a:hover {
    color: #0d0d0d;
}

.active {
    border-bottom: 1px solid #0d0d0d;
    /* why is the not working??? */
    color: #0d0d0d;
}

/* gallery */

#photos {
    clear: both;
    line-height: 3;
    column-count: 5;
    column-gap: 4;
    margin-left: 10%;
    margin-right: 10%;
}

#photos>img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#photos>img:hover {
    opacity: 50%;
}

/* footer */

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #0d0d0d;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 50px;
    color: white;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #photos {
        column-count: 4;
    }

}

/* For larger to medium screens size from 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 110%;
    }

    #photos {
        column-count: 3;
    }

}

/* For larger to medium screens size from 650px wide and down */

@media screen and (max-width: 650px) {

    #menu {
        clear: left;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 15px;
        font-size: 90%;
    }

    #photos {
        column-count: 2;
    }

}